* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  width: 320px;
  height: 300px;
  background-color: gold;
  margin: auto;
  overflow: hidden;
}

.list {
  display: flex;
  transition: transform 1s;
}
.item {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.number {
  width: 20px;
  height: 20px;
  background-color: white;
  text-align: center;
  line-height: 20px;
}
